.heder {
  background-color: yellow;
  padding: 10px;
  display: flex;
  border-radius: 0 0 8px 8px;
}

.form {
  margin-left: 20px;
  display: inline-block;
}

.button {
  margin-left: 6px;
  padding: 8px;
  background-color: transparent;
  border-radius: 6px;
  color: blue;
  border: 1px solid blue;
  transition: box-shadow 0.3s ease;
}

.input {
  outline: none;
  min-width: 240px;
  max-width: max-content;
  border-radius: 6px;
  padding: 8px 8px 8px 10px;
  border: 1px solid yellow;
  color: blue;
  transition: box-shadow 0.3s ease;
}

.button:hover {
  box-shadow: 0 0 10px blue;
}

.input:hover,
.input:focus {
  color: blue;
  border: 1px solid blue;
  box-shadow: 0 0 10px blue;
}

