.container {
  min-width: 320px;
  max-width: 1600px;
  margin: 0 auto;
  padding: 10px;
}

.header {
  background-color: blue;
  color: #ffffff;
  padding: 15px;
  border-radius: 8px 8px 0 0;
}

.loading {
  background-color: rgba(255, 255, 0, 0.541);
  padding: 20px 100px 20px;
  color: rgb(161, 12, 25);
  font-size: 24px;
  border-radius: 0 0 8px 8px;
}
